* {
  margin:0;
  padding:0;
 
}

a {
  text-decoration: none;
  color: #000;
}
.blog-container a:hover{
	background: #fff;
}


/* navigation */
nav {
	text-align: right;
	font-family: arial;
	margin: 10px auto;
	width: 850px;

}

li {
	display: inline;
	font-size: 16px;

}
li:hover {
	background: #eee;
}
.wrapper {
	background: #eee;
	/*margin: auto;*/
	margin: 0;


}

.container {
/*	border: 1px solid red;*/
	width: 1000px;
	margin: auto; 
	background: #eee;
}

/* content */
.content {
/*	border: 1px solid red;*/
	height: 100%;
	min-height: 100%;
	width: 980px;
	margin: auto; 
}
.side-content {
	width: 200px;
	margin: 50px 0 50px 50px;
	border-right: 1px solid #eee; 
	float: left;
}
.intro h1{
	font-size: 100px;
	font-family: arial;
}
.intro , a {
	font-family: arial;
}
.social-media li{
	background: white;
}
.social-media li:hover{
	background: #eee;
}

/*main content*/
.main-content {
/*	border: 1px solid red;*/	
	width: 600px;
	margin: 50px;
	float: left;
}
.blog-container{
	margin: 30px auto;
/*	background: white;*/
	font-family: arial;
}
.blog-container:hover{
	background: white;
}
.blog-container-clicked{
	background: #ddd;
}
.blog-container h1, p{
	margin: 10px 0;
}
iframe {
	width: 600px;
	height: 400px;
	border: 1px solid #aaa;
	background: white;
}
/* footer */
footer {
	clear: both;
	width: 980px;
	height: 40px;
}
footer p {
	text-align: right;
}


